<div class="container ">
		<div class="row">
			<div class="card mb-3 col-12">
				<div class="card-body">
						<form method="post" action="/cadastrar" id="form" name="form">
							<div class="form-group">
								<label for="exampleFormControlInput1">Nome:</label>
								<input type="text" class="form-control" name="nome" required id="nome">
							</div>
							<div class="form-group">
								<label for="exampleFormControlInput1">Telefone:</label>
								<input type="text" class="form-control" name="telefone" required id="telefone">
							</div>
							<button type="submit" id="btnInserir" class="btn btn-primary">Cadastrar</button>
						</form>
					</p>
				</div>
			</div>
		</div>
	</div>
